<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue-js | Python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">

    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <!-- bootstap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Statics -->
    <link rel="stylesheet" href="../static/css/style.css" >

  </head>

  <body>
    <!-- Vue Main -->
    <div id="starting">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Notas Personales</h1>
            <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNoteModal">Agregar Nota</button>
            <button v-on:click="logout()" type="button" class="pull-right btn btn-secondary" style="float: right;">Salir</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"># Codigo</th>
                <th scope="col">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="note in notes">
                <th scope="row">${note.id}</th>
                <td>${note.text}</td>
              </tr>
            </tbody>
          </table>
          <!-- Add Note Modal -->
          <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Agregar Nueva Nota</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="addNote()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="text">Texto de la Nota</label>
                      <input
                        type="text"
                        class="form-control"
                        id="text"
                        placeholder="Escribe la Nota"
                        v-model="newNote.text"
                        required="required" >
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Cargando&#8230;</div>
          </div>
          <!-- End of add notes modal -->
        </div>
      </div>
      <div class="loading" v-if="loading===true">Cargando&#8230;</div>

    </div>

  <!-- bootrtap js files -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- vue.js files -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <!-- Statics Scripts -->
  <script type="text/javascript" src="../static/js/notes.js" charset="utf-8"></script>

  </body>
</html>


